.txtcontacto{
    position:relative
}

@media (max-width: 425px){
    iframe{
        width: 251px;
        height: 261px;
    }
    input{
        width: 99px;
    }
  }
@media (min-width: 425px) and (max-width: 1023px){
    iframe{
        width: 385px;
    }
  }