  /**index**/
  
  .frases {
    text-decoration: none;
    letter-spacing: 5px;
    font-family: 'Dancing Script', cursive;
    font-size: xx-large;
  
  }
  
  #derechos {
    text-align: end;
  }
  
  a {
    font-family: 'Dancing Script', cursive;
   
  }
  
  
  
  #derechos {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: end;
  }

  